<!DOCTYPE html>
<html>
  <head>
    <title>Gmail API Quickstart</title>
    <meta charset="utf-8" />
    <script src="https://unpkg.com/vue"></script>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js" integrity="sha256-jpW4gXAhFvqGDD5B7366rIPD7PDbAmqq4CO0ZnHbdM4=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/js/bootstrap.min.js" integrity="sha384-h0AbiXch4ZDo7tp9hKZ4TsHbi047NrKGLO3SEJAg45jXxnGIfYzk4Si90RDIqNm1" crossorigin="anonymous"></script>
  </head>
  <body>

    <div id="app">
      <div class="container">
        <h1>Gmail API 測試</h1>

        <button class="btn btn-danger" @click="gmailAction">
          我有 Gmail
        </button>

        <button class="btn btn-light" @click="nonGmailAction">
          我沒有 Gmail
        </button>

        <form class="form" v-if="gmailFormShow">
          <button class="btn btn-primary" @click.prevent="handleLoginClick" v-if="!isSignedIn">
            按這裡登入 Gmail
          </button>

          <button class="btn btn-danger" @click.prevent="handleLogoutClick" v-if="isSignedIn">登出</button>

          <div class="form-group">
            <label >收件人</label>
            <input type="text" v-model="gmailTo">
          </div>

          <div class="form-group">
            <textarea cols="30" rows="10" class="form-control" v-model="gmailMessage"></textarea>
          </div>

          <button class="btn btn-warning" @click.prevent="sendGmail">寄出</button>
        </form>
      </div>
    </div>

    <script type="text/javascript">
      var app = new Vue({
        el: '#app',
        methods: {
          gmailAction() {
            this.mailToFormShow = false
            this.gmailFormShow = true
          },

          nonGmailAction() {
            this.mailToFormShow = true
            this.gmailFormShow = false
          },

          handleLoginClick() {
            gapi.auth2.getAuthInstance().signIn();
          },

          handleLogoutClick() {
            gapi.auth2.getAuthInstance().signOut()
          },

          updateSigninStatus(status) {
            console.log('update signin status = ', status)
            this.isSignedIn = status
          },

          sendGmail() {
            var email = ''
            email += 'To: ' + this.gmailTo + "\r\n"
            email += 'Subject: Project Kemono Friends' + "\r\n"
            email += "\r\n" + this.gmailMessage

            gapi.client.gmail.users.messages.send({
              'userId': 'me',
              'resource': {
                'raw': window.btoa(email).replace(/\+/g, '-').replace(/\//g, '_')
              }
            }).then(function(response) {
              console.log(response)
            });
          }
        },
        computed: {
        },
        data: {
          gmailFormShow: false,
          mailToFormShow: false,
          isSignedIn: false,
          gmailTo: '',
          gmailMessage: "Hello world from Japari park"
        }
      })

    </script>

    <script type="text/javascript">
      // Client ID and API key from the Developer Console
      var CLIENT_ID = '1076487009197-o6pob15ih3hlqor8d2l5rv3t80qinmle.apps.googleusercontent.com';

      // Array of API discovery doc URLs for APIs used by the quickstart
      var DISCOVERY_DOCS = ["https://www.googleapis.com/discovery/v1/apis/gmail/v1/rest"];

      // Authorization scopes required by the API; multiple scopes can be
      // included, separated by spaces.
      var SCOPES = [
        'https://mail.google.com/',
        'https://www.googleapis.com/auth/gmail.modify',
        'https://www.googleapis.com/auth/gmail.compose'
      ].join(' ');

      /**
       *  On load, called to load the auth2 library and API client library.
       */
      function handleClientLoad() {
        gapi.load('client:auth2', initClient);
      }

      /**
       *  Initializes the API client library and sets up sign-in state
       *  listeners.
       */
      function initClient() {
        gapi.client.init({
          discoveryDocs: DISCOVERY_DOCS,
          clientId: CLIENT_ID,
          scope: SCOPES
        }).then(function () {
          // Listen for sign-in state changes.
          gapi.auth2.getAuthInstance().isSignedIn.listen(app.updateSigninStatus);

          // Handle the initial sign-in state.
          app.updateSigninStatus(gapi.auth2.getAuthInstance().isSignedIn.get());
        });
      }
    </script>

    <script async defer src="https://apis.google.com/js/api.js"
      onload="this.onload=function(){};handleClientLoad()"
      onreadystatechange="if (this.readyState === 'complete') this.onload()">
    </script>
  </body>
</html>
